body {
    background: linear-gradient(-45deg, #070872, #653b88, #690650, #0665b3, #09c9e2);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  